@model Charity.Models.Menu

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper" style="padding: 0 5rem;">
    <h2>Chi tiết</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tên tiêu đề")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayName("Slug")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta)
        </dd>

        

       
        <dt>
            @Html.DisplayName("Ngày tạo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datebegin)
        </dd>

    </dl>
</div>
