@model Charity.Models.DuAn
@using Charity.Helpers;
@{
    ViewBag.Title = Model.ProjectName;
}

<div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <h2 class="display-4 text-white animated slideInDown mb-4">@Model.ProjectName</h2>
    </div>
</div>
<div class="container mt-5 mb-5">
    <div class="row text-dark">
        <div class="col-md-6">
            <img src="/Content/img/@Model.ProjectImage" alt="Hình ảnh dự án" class="img-fluid">
        </div>
        <div class="col-md-6">
            <div class="mb-3">@StringHelper.Truncate(Model.Situation, 200)</div>
            <hr>
            <div class="d-flex justify-content-between mb-3">
                <h6>Tình trạng:</h6>
                <span>
                    @if (Model.ProjectState == true)
                    {
                        <span>Đã hoàn thành</span>
                    }
                    else
                    {
                        <span>Đang giúp đỡ dài hạn</span>
                    }
                </span>
            </div>
            <hr>
            <div class="d-flex justify-content-between mb-3">
                <h6>Tổng tiền đã tài trợ:</h6>
                <span>@Model.TotalMoney VND</span>
            </div>
            <hr>
        </div>
    </div>
</div>
<div class="container text-dark">
    <h3 class="mb-3">Thông tin bản thân</h3>
    <div>@Html.Raw(Model.Infor)</div>
    <hr />
    <h3 class="mb-3">Hoàn cảnh</h3>
    <div>@Html.Raw(Model.Situation)</div>
    <hr />
    <h3 class="mb-3">Cách thức hỗ trợ</h3>
    <div>@Html.Raw(Model.WayToSupport)</div>
    <hr />

</div>


