﻿@model IEnumerable<Charity.Models.Donate>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div style="display: flex; justify-content: space-between">
        <h5>Danh sách ủng hộ</h5>
        <a href="@Url.Action("Add","Donate")" class="nav-link btn btn-secondary m-2">Thêm ủng hộ</a>
    </div>

    <table class="table" style="width:100%; table-layout:fixed;">
        <tr>
            <th>
                @Html.DisplayName("Tổng tiền")
            </th>
            <th>
                @Html.DisplayName("Người donate")
            </th>
            <th>
                @Html.DisplayName("Nội dung")
            </th>
            <th>
                @Html.DisplayName("Thời gian")
            </th>
            <th>
                @Html.DisplayName("Hành động")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DonateMoney)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonDonateName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Infor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.datebegin)
                </td>

                <td style="align-content: center">
                    @Html.ActionLink("Edit", "Edit", new { id = item.IDdonate }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Chi tiết", "Detail", new { id = item.IDdonate }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.IDdonate }, new { @class = "btn btn-danger" })

                </td>
            </tr>
        }

    </table>
</div>