@model Charity.Models.DuAn

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper" style="padding-left: 5rem">
    <h2>Edit</h2>

    @using (Html.BeginForm("EditCompleted", "DuAn", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IDduan)

            <div class="form-group">
                @Html.Label("Tên dự án", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Slug", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.meta, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.meta, "", new { @class = "text-danger" })
                </div>
            </div>





            <div class="form-group">
                @Html.Label("Trạng thái", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="radio">
                        <!-- Tùy chọn Hoạt động (true) -->
                        @Html.RadioButtonFor(model => model.ProjectState, "true", new { @id = "statusActive" })
                        <label for="statusActive">Đã hoàn thành</label>
                    </div>
                    <div class="radio">
                        <!-- Tùy chọn Khóa (false) -->
                        @Html.RadioButtonFor(model => model.ProjectState, "false", new { @id = "statusLocked" })
                        <label for="statusLocked">Chưa hoàn thành</label>
                    </div>
                    @Html.ValidationMessageFor(model => model.ProjectState, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Số tiền", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TotalMoney, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TotalMoney, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.Label("Thông tin", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Infor, new { @class = "form-control", rows = "5", @value = Model.Infor })
                    @Html.ValidationMessageFor(model => model.Infor, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Hoàn cảnh", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Situation, new { @class = "form-control", rows = "5", @value = Model.Situation })
                    @Html.ValidationMessageFor(model => model.Situation, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.Label("Hình ảnh", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <!-- Ảnh hiện tại từ cơ sở dữ liệu -->
                    <img id="currentImage" style="max-width: 100px" src="~/Content/img/@Model.ProjectImage" alt="Current Image" />

                    <!-- Ảnh xem trước sẽ hiển thị khi chọn ảnh mới -->
                    <img id="previewImage" style="max-width: 100px; display: none; margin-top: 10px;" alt="Image Preview" />

                    <!-- Input để chọn ảnh mới -->
                    <input type="file" name="ProjectImage" class="form-control" onchange="showPreview(event)" />
                    @Html.ValidationMessageFor(model => model.ProjectImage, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.Label("Cách thức hỗ trợ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.WayToSupport, new { @class = "form-control", rows = "5", @value = Model.WayToSupport })
                    @Html.ValidationMessageFor(model => model.WayToSupport, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

</div>
@section _Footer
{
    <script src="~/Areas/admin/Content/ckfinder/ckfinder.js"></script>
    <script src="~/Areas/admin/Content/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        var editor = CKEDITOR.replace("Infor");
        var editor = CKEDITOR.replace("Situation", { height: '600px' });
        var editor = CKEDITOR.replace("WayToSupport", { height: '600px' });
        customConfig: '/Areas/admin/Content/ckeditor/config.js';
    </script>
    <script>
        $(function () {
            $("#name").keyup(function () {
                var text = $.trim($(this).val().toLowerCase());
                var text_create;
                text_create = text.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a").replace(/\ /g, '-').replace(/đ/g, "d").replace(/đ/g, "d").replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y").replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u").replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ.+/g, "o").replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ.+/g, "e").replace(/ì|í|ị|ỉ|ĩ/g, "i");
                $('#meta').val(text_create);
            }).keyup();
        });
    </script>
}